<!DOCTYPE html>
<html>
  <head>
    <title>WebpackApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'webpackApp/index' %>
    <%= stylesheet_pack_tag 'webpackApp/assets/stylesheets/app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
